@import '../variables';

.categories {
  ul {
    display: flex;

    li {
      background-color: #dfdfdf;
      padding: 13px 30px;
      border-radius: 8px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#ebe8e8, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #b727f0;
        color: #fff;
      }
    }
  }
}
